.fact {
  display: none;
  background-color: @light-background;
}

.fact__title {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
}

.fact__description {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: @gray;
}

.fact__link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: @company-color;
}
